{% load i18n %}
<!DOCTYPE html>
<html>
<head>
  <title>{% trans "SurveyMonkey Completion Page" %}</title>
  <link rel="stylesheet" href="/static/css/lms-main-v1.css" type="text/css" media="all" />
  <style type="text/css">{{ css }}</style>
</head>
<body>
  <div class="surveymonkey_block_completion" >
      <header class="surveymonkey-header">
          {% include "header.html" %}
      </header><br>
      <div class="main-content">
        {% if completed_survey %}
            <h2>{% trans "Survey Complete" %}</h2>
            <p>{% trans "Thank you for completing this survey. Your submission has been successfully recorded. You can now close this browser tab to return to the course." %}</p>
        {% else %}
            <h2>{% trans "Survey Incomplete" %}</h2>
            <p>{% trans "Please complete the survey" %}</p>
        {% endif %}
      </div>
      <div class="surveymonkey-footer">
          <footer>
            {% include "footer.html" %}
          </footer>
      </div>
  </div>
</body>
</html>
