{% load i18n %}
<div class="surveymonkey_block">
    <h2>{{ title }}</h2>
    <hr>{{ introductory_text|safe }}<hr>

    {% if completed_survey %}
        <p class="status-message">{% trans "Completed" %}</p>
    {% else %}
        <p class="status-message">{% trans "Incomplete" %}</p>
        {% if inline_survey_view %}
            <iframe class="surveymonkey_block survey_inline_iframe" src="{{ survey_link }}"></iframe>
        {% else %}
            <p>
                <a class="button btn" href="{{survey_link}}" target="_blank">{{ text_link }}</a>
            </p>
        {% endif %}
    {% endif %}
</div>
